cycler==0.10.0
decorator==4.4.1
dlib==19.6.0
icc-rt==2020.0.133
imageio==2.6.1
imutils==0.5.3
intel-numpy==1.15.1
intel-openmp==2020.0.133
intel-scipy==1.1.0
kiwisolver==1.1.0
matplotlib==3.0.3
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
networkx==2.4
numpy==1.15.1
opencv-python==4.1.2.30
Pillow==8.3.2
playsound==1.2.2
pygame==1.9.6
pyparsing==2.4.5
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.15.0
scipy==1.1.0
six==1.13.0
tbb==2019.0
tbb4py==2019.0
